.homepage { 
  width: 100%;
  height: auto;
}
.hero { 
  width: 100%;
  height: 75vh;
  display: flex;
  color: var(--color-white-text); 
  background-color: var(--color-primary); 
  background-blend-mode: overlay; 
}
.heroText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heroBgImage{
  background: url(../public/images/amily29.png) no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroBgImage img{ display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.hero h1 { 
  font-size: 2.2rem; 
  margin-bottom: 0.5rem; 
}
.hero p { 
  font-size: 1rem; 
  margin-bottom: 1rem; 
}
.cta { 
  background-color: var(--color-secondary); 
  color: var(--color-white-text); 
  padding: 0.75rem 1rem; 
  border-radius: 5px; 
  font-weight: 400; 
  display:inline-block; 
  transition: all 0.3s ease;
}
.cta:hover{
  background-color: var(--color-accent);
}

/* Features */
.features { 
  width: 100%;
  height: auto;
  padding: 5em 7em;
}
.card h3,
.features h1{
  text-align: center;
  font-weight: bold;
}
.cards{
  width: 100%;
  height: auto;
  display: grid; 
  gap: 2em;
  margin-top: 2.5em; 
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
}
.card { 
  background: #fff; 
  border-radius: 10px; 
  padding: 2.5rem 4em; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.06); 
}
.card h3{
  margin: 0.5em 0;
}
.card p{
  line-height: 1.5rem;
  text-align: center;
}
.featureIcon{
  place-self: center;
  object-fit: center;
}

/* Video Clips */
.videoClip,
.howItWorks {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding: 3em 0;
}
.howItWorks{
  padding: 2em 0 5em;
}
.videoClip h1,
.howItWorks h1,
.howItWorksCard p {
  text-align: center;
}
.video {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  margin-top: 2em;
}
.video video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.howItWorks{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.howItWorksCards {
  width: 80%;
  display: flex;
  margin-top: 2em;
  gap: 2em;
  align-items: center;
  justify-content: center;
}
.howItWorksCard {
  background: #fff;
  color: var(--color-black-text);
  width: 500px;
  padding: 2.5em 1em;
  border-radius: 10px;
  font-size: 1.1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06); 
}
.howItWorksCard span{
  color: var(--color-secondary);
}

/* TESTIMONIALS */
.testimonials{
  width: 100%;
  height: auto;
  background: var(--color-primary);
  color: var(--color-white-text);
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ========================= */
.testimonyContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.testimonySlider {
  display: flex;
}
.testimonyItem {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3.5em;
  align-items: center;
  justify-content: center;
  width: 100%; 
  flex-shrink: 0;
}
/* ========================= */
.testimonials h1{
  margin-bottom: 1em;
}
.testimonies,
.testimony{
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonyImage {
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonyImage img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
  border-radius: 50%;
}

.testifierText {
  font-size: 1.2rem;
}
.testifierText p{
  line-height: 2rem;
}

/* PLANS */
.plans {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}
.plans h1 { 
  font-size: 2.2rem; 
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold; 
}
.plan{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
  gap: 0.7em;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: all 0.3s ease;
}
.plan h2,
.plan p{
  text-align: center;
}
.plan ul{
  padding-left: 3em;
}
.plan ul li{
  padding: 0.5em 0;
  font-size: 1.1rem;
}
.plan button{
  width: fit-content;
  margin: 0 auto;
  transition: all 0.3s ease;
}
.plan:hover{
  border: 3px solid var(--color-accent);
  transform: scale(1.05);
}
.plan:hover button{
  background-color: var(--color-accent); 
}
.planCards{
  display: flex;
  gap: 2em;
}

/* =========================
   RESPONSIVE DESIGN
========================= */

/* Large screens (901px and above) */
@media screen and (min-width: 901px) {
  .heroText {
    width: 45%;
    padding: 0 1em 0 7em;
  }

  .video {
    height: 80vh;
  }

  .howItWorksCards {
    flex-direction: row;
  }

  .planCards {
    flex-direction: row;
  }
}

/* Tablets (601px - 900px) */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .hero {
    position: relative;
    flex-direction: column;
    height: 75vh;
    text-align: center;
    background: url('../public/images/family15.png') center no-repeat;
    background-size: contain;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
  }
  .heroText {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8em;
    z-index: 1;
  }
  .heroText h1{
    font-size: 2rem;
    margin-bottom: 0.25em;
  }
  .heroText p {
    margin-bottom: 1.35em;
  }
  .heroBgImage {
    display: none;
  }
  .features {
    padding: 3em 2em;
  }
  .cards{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
  }

  .howItWorksCards {
    flex-wrap: wrap;
  }
  .howItWorksCard {
    width: 45%;
  } 
  .testimonies {
    flex-direction: column;
  }
  .testimonyItem {
    gap: 2em;
    /* width: 100%; 
    flex-shrink: 0; */
  }
  .testimonyImage{
    width: 150px;
    height: 150px;
  }
  
 .planCards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .plan {
    width: 45%;
  }
}

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {
  .links {
    display: none;
  }
  .hero {
    position: relative;
    flex-direction: column;
    height: 83vh;
    text-align: center;
    background: url('../public/images/family15.png') center no-repeat;
    background-size: 400px;
    margin-top: -1px;
  }
  .heroBgImage{
    display: none;
  }
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
  }
.heroText {
    font-size: 1.5rem;
    width: 100%;
    padding-top: 12em;
    padding-right: 2em;
    padding-left: 2em;
    align-items: center;
    z-index: 1;
  }
  .heroText h1{
    font-size: 1.7rem;
    margin-bottom: 0.4em;
  }
  .heroText p{
    margin-bottom: 1.5em;
  }
  .features {
    padding: 2em 1em;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .video {
    width: 100%;
    height: 30vh;
  }
  .howItWorksCards {
    width: 100%;
    flex-direction: column;
  }
  .howItWorksCard {
    width: 100%;
  }

  .testimonies {
    flex-direction: column;
    gap: 2em;
  }
  .planCards {
    flex-direction: column;
    align-items: center;
  }
  .plan {
    width: 90%;
  }
  .testifierText {
    width: 30%;
    font-size: 1rem;
    text-align: left;
  }
  .testifierText span{
    color: var(--color-secondary);
    font-weight: bold;
  }
  .testimonyItem{
    margin-left: 0.2em;
    padding: 0 3em;
  }
  .testimonyImage {
    width: 120px;
    height: 120px;
    margin-right: -2.5em;
  }
  .testimonyImage img{
    width: 100%;
    height: 100%;
  }
  .plans h1,
  .testimonials h1,
  .features h1,
  .howItWorks h1,
  .videoClip h1{
    font-size: 1.7rem;
  }
  .videoClip,
  .howItWorks {
    width: 90%;
  }
}

.icon {
  width: 48px;
  height: 48px;
  margin-bottom: 1rem;
  stroke-width: 1.75;
}
