.heroScatteredContainer {
  position: relative;
  width: 65%;
  height: 460px;
  margin-top: 2rem;
}

/* General photo style */
.heroImage {
  position: absolute;
  width: auto;
  height: auto;
  border-radius: 7px;
  overflow: hidden;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.18); */
  will-change: transform;
}

/* ---- Artistic Coordinates ---- */
.img1,
.img2, 
.img3,
.img4{
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;
}
.img1 img,
.img2 img,
.img3 img,
.img4 img {
  width: 100%;
  height: 100%;
}
.img1 {
  bottom: 90px;
  left: 5%;
  transform: rotate(-12deg);
  z-index: 120;
}

.img2 {
  height: 350px;
  top: 30px;
  right: 10%;
  transform: rotate(6deg);
  z-index: 100;
}

.img3 {
  bottom: 10px;
  left: 38%;
  transform: rotate(-10deg);
  z-index: 100;
}
.img4 {
  top: -15px;
  right: 40%;
  transform: rotate(-4deg);
  z-index: 100;
}

@media (max-width: 768px) {
  .heroScatteredContainer {
    height: 750px;
  }

  .img1 {
    top: 20px;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
  }

  .img2 {
    top: 260px;
    right: auto;
    left: 50%;
    transform: translateX(-50%) rotate(8deg);
  }

  .img3 {
    top: 500px;
    left: 50%;
    transform: translateX(-50%) rotate(-5deg);
  }
}
.homepage { 
  width: 100%;
  height: auto;
}
.hero { 
  width: 100%;
  height: 80vh;
  display: flex;
  color: var(--color-white-text); 
  background-color: var(--color-primary); 
  background-blend-mode: overlay; 
}
.heroText{
  width: 50%;
  height: 100%;
  display: flex;
  padding: 0 1em 0 7em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.heroBgImage{
  flex: 1;
  background: url('../../../../../public/images/pee2.png') center no-repeat;
  background-size: contain;
}
.hero h1 { 
  font-size: 2.5rem; 
  margin-bottom: 0.5rem;
  line-height: 3.5rem;
  font-weight: bold; 
}
.hero p { 
  font-size: 1rem; 
  margin-bottom: 1.5rem; 
}
.cta { 
  background-color: var(--color-secondary); 
  color: var(--color-white-text); 
  padding: 0.75rem 1rem; 
  border-radius: 5px; 
  font-weight: 400; 
  display:inline-block; 
  transition: all 0.3s ease;
}
.cta:hover{
  background-color: var(--color-accent);
}

/* Features */
.features { 
  width: 100%;
  height: auto;
  padding: 5em 7em;
}
.card h3,
.features h1{
  text-align: center;
  font-weight: bold;
}
.cards{
  width: 100%;
  height: auto;
  display: grid; 
  gap: 2em;
  margin-top: 2.5em; 
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
}
.card { 
  background: #fff; 
  border-radius: 10px; 
  padding: 2.5rem 4em; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.06); 
}
.card h3{
  margin: 0.5em 0;
}
.card p{
  line-height: 1.5rem;
  text-align: center;
}
.featureIcon{
  place-self: center;
  object-fit: center;
}

/* Video Clips */
.videoClip,
.howItWorks {
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 3em 0;
}
.howItWorks{
  padding: 2em 0 5em;
}
.videoClip h1,
.howItWorks h1,
.howItWorksCard p {
  text-align: center;
}
.video {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  margin-top: 2em;
}
.video video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.howItWorksCards {
  display: flex;
  margin-top: 2em;
  gap: 2em;
  align-items: center;
  justify-content: center;
}
.howItWorksCard {
  background: #fff;
  color: var(--color-black-text);
  width: 28%;
  padding: 2.5em 0.5em;
  border-radius: 10px;
  font-size: 1.1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06); 
}
.howItWorksCard span{
  color: var(--color-secondary);
}

/* TESTIMONIALS */
.testimonials{
  width: 100%;
  height: auto;
  background: var(--color-primary);
  color: var(--color-white-text);
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ========================= */
.testimonyContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.testimonySlider {
  display: flex;
}
.testimonyItem {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3.5em;
  align-items: center;
  justify-content: center;
}
/* ========================= */
.testimonials h1{
  margin-bottom: 1em;
}
.testimonies,
.testimony{
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonyImage{
  width: 300px;
  height: 300px;
  object-fit: cover;
  background: white;
  border-radius: 50%;
}
.testimony img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.testifierText {
  font-size: 1.2rem;
}
.testifierText p{
  line-height: 2rem;
}

/* PLANS */
.plans {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}
.plans h1 { 
  font-size: 2.2rem; 
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold; 
}
.plan{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
  gap: 0.7em;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: all 0.3s ease;
}
.plan h2,
.plan p{
  text-align: center;
}
.plan ul{
  padding-left: 3em;
}
.plan ul li{
  padding: 0.5em 0;
  font-size: 1.1rem;
}
.plan button{
  width: fit-content;
  margin: 0 auto;
  transition: all 0.3s ease;
}
.plan:hover{
  border: 3px solid var(--color-accent);
  transform: scale(1.05);
}
.plan:hover button{
  background-color: var(--color-accent); 
}
.planCards{
  display: flex;
  gap: 2em;
}


/* =========================
   RESPONSIVE DESIGN
========================= */

/* Large screens (901px and above) */
@media screen and (min-width: 901px) {
  .heroText {
    width: 45%;
    padding: 0 1em 0 7em;
  }

  .video {
    height: 80vh;
  }

  .howItWorksCards {
    flex-direction: row;
  }

  .planCards {
    flex-direction: row;
  }
}

/* Tablets (601px - 900px) */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .hero {
    flex-direction: column;
    height: 75vh;
    text-align: center;
  }
  .heroText {
    width: 100%;
    padding: 2em;
    align-items: center;
    margin-top: 5em;
  }
  .heroBgImage {
    display: none;
  }
  .heroImage {
    display: none;
  }
  .features {
    padding: 3em 2em;
  }
  .cards{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
  }

  .howItWorksCards {
    flex-wrap: wrap;
  }
  .howItWorksCard {
    width: 45%;
  }

  .testimonies {
    flex-direction: column;
  }

  .testimonyItem {
    gap: 2em;
  }
  .testimonyImage{
    width: 200px;
    height: 200px;
  }

  .planCards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .plan {
    width: 45%;
  }
}

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {
  .links {
    display: none;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    height: 80vh;
    padding: 0 1em;
    margin-top: -2em;
  }
  .heroText {
    width: 100%;
    padding: 1em;
    align-items: center;
    margin-top: 12em;
  }
  .heroText h1{
    font-size: 2rem;
  }
  .heroImage{
    display: none;
  }
  .heroBgImage {
    width: 100%;
    height: 40vh;
    background-size: cover;
  }
  .features {
    padding: 2em 1em;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .video {
    width: 100%;
    height: 30vh;
  }

  .howItWorksCards {
    flex-direction: column;
  }
  .howItWorksCard {
    width: 90%;
  }

  .testimonies {
    flex-direction: column;
    gap: 2em;
  }
  .planCards {
    flex-direction: column;
    align-items: center;
  }
  .plan {
    width: 90%;
  }
  .testifierText {
    font-size: 1rem;
    text-align: left;
  }
  .testifierText span{
    color: var(--color-secondary);
    font-weight: bold;
  }
  .testimonyItem{
    margin-left: 0.2em;
    padding: 0 1em;
  }
  .testimonyImage {
    width: 50%;
    height: 50%;
    margin-right: -2.5em;
  }
  .testimonyImage img{
    width: 100%;
    height: 100%;
  }
  .plans h1,
  .testimonials h1,
  .features h1,
  .howItWorks h1,
  .videoClip h1{
    font-size: 1.7rem;
  }
}
