.authPage {
  width: 100%;
  height: calc(100vh - 12em);
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Container {
  width: 70%;
  max-width: 420px;
  margin: 1rem auto;
  padding: 2rem;
  background: var(--color-bg);
  border-radius: 16px;
  border: 1px solid #eee; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  text-align: center;
}
.Container a{
  color: var(--color-primary);
}
.form {
  width: 100%;
  height: auto; 
  display: flex; 
  flex-direction: column; 
  gap: 1rem; 
  margin-top: 1rem;
}
.form input { 
  padding: 0.75rem; 
  border: none;
  outline: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  border-radius: 8px; 
}
.form input:focus{
  border: 1px solid var(--color-secondary);
}
.form button { 
  padding: 0.75rem;
  background-color:var(--color-secondary); 
  border:none; 
  outline:none; 
  border-radius: 8px; 
  color:var(--color-bg); 
  font-weight:600; 
  cursor:pointer; 
  transition: all 0.3s ease;
  margin-bottom: 0.7em;
}
.form button:hover{
  background-color:var(--color-accent); 
}
.logoutText{
   padding: 2rem; 
   text-align: center; 
}
.errorMessage{
  background: linear-gradient(
    135deg,
    rgba(185, 28, 28, 0.95),
    rgba(239, 68, 68, 0.95)
  );
}

/* =========================
   BASE TOAST
========================= */
.toast {
  position: fixed;
  top: 24px;
  right: 24px;
  width: fit-content;
  padding: 14px 18px;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--color-white-text);
  backdrop-filter: blur(12px);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.25),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
  pointer-events: auto;
  z-index: 9999;
}

/* =========================
   VARIANTS
========================= */
.success {
  background: linear-gradient(
    135deg,
    rgba(22, 163, 74, 0.95),
    rgba(16, 185, 129, 0.95)
  );
}

.error {
  background: linear-gradient(
    135deg,
    rgba(185, 28, 28, 0.95),
    rgba(239, 68, 68, 0.95)
  );
}

/* Responsiveness */
@media (max-width: 640px){
  .Container{
    width: 100%;
  }
}










